<div class="d-inline-block">
  
    <form class="form-inline"><span>
        Start Date:
        <input class="form-control"
          placeholder="mm/dd/yyyy"
          autocomplete="off"
          name="dtStart"
          #c1="ngModel"
          [(ngModel)]="PeriodStartDate"
          (dateSelect)="dateSelectDPFirst(PeriodStartDate)"
          ngbDatepicker #dtStart="ngbDatepicker"
          (click)="dtStart.toggle()" readonly>
        End Date:
        <input class="form-control"
          placeholder="mm/dd/yyyy"
          autocomplete="off"
          (click)="dtEnd.toggle()"
          name="dtEnd"
          #c2="ngModel"
          [(ngModel)]="PeriodEndDate"
          (dateSelect)="dateSelectDPSecond(PeriodEndDate)"
          ngbDatepicker #dtEnd="ngbDatepicker" readonly>
      </span>
    </form>
</div>
