p {
  font-size: 13px;
}
div {
  line-height: 100px;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.btn {
  /*background-image: url(calendar.jpg);*/
  /*background: url('calendar.jpg') no-repeat scroll 0 0 transparent;*/
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  padding: 2px;
  width: 75px;
 /* background: no-repeat url('calendar.jpg');*/
}
